/* Box Model Hack */
* {
  box-sizing: border-box;
}


/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* NAVIGATION
/*******************************************/

html, body{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
body{
  max-width: 700px;
}
footer{
  text-align: center;
  padding: 2%;
  width: 100%;
}
nav{
  display: flex;
  justify-content: space-between;
  width: 100%;

}
select{
  border: none;
  cursor: pointer;
}

nav, nav *{
  color: whitesmoke;
  border-left: 1px solid burlywood;
  background: linear-gradient(brown, burlywood);
}
nav *{
  padding: 1%;
}
nav h1{
  flex-grow: 2;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
nav a{
  text-decoration: none;
  margin: 5px;
  border: none;
  background: linear-gradient(brown, red);
  box-shadow: 0 0 1px 1px burlywood;
}
nav a:hover{
  background: linear-gradient(red, brown);
}
nav a:active{
  background: linear-gradient(red, brown, red);
  box-shadow: none;
}
nav select:hover{
  background: linear-gradient( burlywood,brown);
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(green, rgb(78, 122, 78));
  border: 5px solid burlywood;
  border-top: none;
  height: 100%;
  width: 100%;
}
.triesArea{
  padding-top: 5%;
  color:aliceblue
}
.cardsArea{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5% 0;
  width: 100%;
}
footer{
  background: gainsboro;
}
.cardHolder{
  /* height: 314px;
  width: 226px; */
  position: relative;  
  height: 157px;
  width: 113px;
  margin: 2.5%;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.card{
  position: absolute;
  height: 100%;
  width: 100%;
  border: 2px solid white;
  border-radius: 5%;
  box-shadow: 0px 3px 3px 3px black;
  backface-visibility: hidden;
  transition: transform 0.5s;
  background-size: cover;
}
.card.card-back:hover{
  box-shadow: 0px 5px 5px 5px burlywood;
}
.card-back{
  background: url('../images/images/cardBack.png');
  background-size: cover;
}
.card-rotate-opposite{
  transform: rotateY(-180deg);
}
.card-rotate{
  transform: rotateY(180deg);
}
.card-selected{
  box-shadow: 0px 5px 5px 5px brown;
}
@media screen and (min-width: 1000px) {
  main{
    min-width: 700px;
    min-height: 700px;
  }
  body{
    height: auto;
  }
}